<body style="background-color: #000000;">

  <style>
    .navbar-dark .navbar-nav .nav-link:hover {
      background-color: #F8CF40 !important;
      color: #000000 !important;
    }

    .navbar-dark .navbar-toggler-icon {
      background-color: #F8CF40;
    }

    .dropdown-menu {
      background-color: #000000;
      border: 2px solid #F8CF40;
    }

    .dropdown-item {
      color: #F8CF40 !important;
    }

    .dropdown-item:hover {
      background-color: #F8CF40 !important;
      color: #000000 !important;
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000; border-bottom: 2px solid #F8CF40;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: #F8CF40;">REQUIEM DEVELOPMENT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #F8CF40;">
              Menú Principal
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="/inicioUsu">Inicio</a></li>
              <li><a class="dropdown-item" href="/productoUsu">Producto</a></li>
              <li><a class="dropdown-item" href="/aunnoestoydisponible">Descarga</a></li>
              <li><a class="dropdown-item" href="/comentariosUsu">Comentarios</a></li>
              <li><a class="dropdown-item" href="/acercaUsu">Acerca de</a></li>
            </ul>
          </li>
         
          <li class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #F8CF40;">
              Cuenta
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/nuevousuario">Crear Cuenta</a></li>
              <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 

</body>
