<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>

<body style="background-color: #000000; color: white;">

  <div class="container mt-5">
    <div class="card" style="background-color: #000000; border: 2px solid #F8CF40;">
      <div class="card-header">
        <div style="color: white;">
          <h1>Acerca de Nosotros</h1>
        </div>
      </div>
      <div class="card-body" style="color: white;">
        <p>En Liable Light, nos comprometemos a proporcionar soluciones innovadoras que permitan a las </p>
        <p>personas tener un control total sobre su consumo de energía, fomentando hábitos sostenibles y eficientes.</p>
        
      </div>
    </div>
  </div>

</body>

<%- include("../templates/pie") %>
